.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: #eee;
}

.postContent {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
  padding: 5px 2%;
  margin: 15px 0;
  color: black;
}

.scoreSpan {
  text-align: left;
}

.subredditSpan {
  float: right;
}

.leftBox {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.mainBox {
  width: 80%;
  display: inline-block;
  text-align: center;
  height: 100%;
}

.postContent img, .postContent video {
  max-width: 80%;
}

.selfTextDiv {
  text-align: left;
}

.comment {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 70%;
  padding: 5px 1%;
  margin: 15px 5%;
}

.authorSpan {
  margin-left: 10%;
}


@media all and (max-width:600px) {
  .postContent {
    width: 100%;
    margin: 15px 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 3px;
  }

  .leftBox, .mainBox {
    width: 100%;
    display: block;
  }

  .comment {
    width: 90%;
    margin: 15px 5%;
  }
}