.prawnPost {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 90%;
  padding: 5px 5%;
  margin: 15px 5%;
  color: black;
}

.leftBox {
  float: left;
}

.postLink {
  cursor: pointer;
}

.prawnPost {
  text-align: center;
}

.postImage {
  max-width: 50%;
}

.selfTextDiv {
  text-align: left;
}

.comment {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 70%;
  padding: 5px 1%;
  margin: 15px 15%;
}