a {
  text-decoration: none;
}

#redditPrawnHeader {
  text-align: center;
}

#redditPrawnHeader h1 {
  color: teal;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 30px 0 0 30px;
}

#redditPrawnHeader img {
  width: 100px;
}